[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
python-dateutil = "*"
tqdm = "*"
pandas = "*"
spacy = "*"
gensim = "*"
torch = "*"
due = {editable = true, path = "."}

[dev-packages]
nose = "*"
ipython = "*"
jupyter = "*"
pylint = "*"
sphinx = "*"

[requires]
python_version = "3.6"
